{% extends 'main/portal.html' %}

{% block tytul %} Lista wszystkich zawodników w bazie {% endblock %}

{% block strona %}


<a class="btn btn-primary" role="button" href="{% url 'zawodnik_nowy' %}">Nowy zawodnik</a>

{% if zawodnicy %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Zawodnik</th>
          <th scope="col">Edytuj</th>
          <th scope="col">Usuń</th>
        </tr>
      </thead>
        <tbody>
         {% for zawodnik in zawodnicy %}
        <tr>
            <td><a href="/kluby/portal/zawodnik_szczegoly/{{ zawodnik.id }}/">{{ zawodnik.imie }} {{ zawodnik.nazwisko }}</a></td>
            <td><a href="/kluby/portal/zawodnik_edytuj/{{ zawodnik.id }}/" >Edytuj zawodnika</a></td>
            <td><a href="/kluby/portal/zawodnik_usun/{{ zawodnik.id }}/" >Usuń zawodnika</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Brak zawodników.</p>
{% endif %}

<a class="btn btn-secondary" role="button" href="{% url 'portal' %}">Cofnij</a>

{% endblock %}