{% extends 'kluby/glowny.html' %}

{% block tytul %} Lista wszystkich filmów w bazie {% endblock %}

{% block strona %}

{% if user.is_authenticated %}
     Witaj {{ user.username }}<br>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
<hr>

<a href="{% url 'nowy' %}">Nowy film</a>

{% if kluby %}
    <ul>
    {% for klub in kluby %}
        <li><a href="/kluby/szczegoly/{{ klub.id }}/">{{ klub.nazwa }}</a></li>
        <a href="/kluby/edytuj/{{ klub.id }}/" >Edytuj klub</a>
        <a href="/kluby/usun/{{ klub.id }}/" >Usuń klub</a>
    {% endfor %}
    </ul>
{% else %}
    <p>Brak klubów w bazie danych.</p>
{% endif %}
{% endblock %}