{% extends 'kluby/glowny.html' %}

{% block tytul %} Lista wszystkich filmów w bazie {% endblock %}

{% block strona %}

<a href="{% url 'nowy' %}">Nowy film</a>

{% if kluby %}
    <ul>
    {% for klub in kluby %}
        <li><a href="/kluby/szczegoly/{{ klub.id }}/">{{ klub.nazwa }}</a></li>
        <a href="/kluby/edytuj/{{ klub.id }}/" >Edytuj klub</a>
        <a href="/kluby/usun/{{ klub.id }}/" >Usuń klub</a>
    {% endfor %}
    </ul>
{% else %}
    <p>Brak klubów w bazie danych.</p>
{% endif %}
{% endblock %}